@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Playfair+Display:wght@500&family=Raleway:wght@400;600&family=Ubuntu:wght@500&display=swap');

body{
background-color: rgba( 160, 121, 59, 0.195 )

}
#diapo
{

    width: 100%;
 
    
    text-align: center;
    
}
img
{
    
    height:60%;
    width: 60%;
    position :relative;
    
    

   
}
h2{
    font-family: 'Oswald', sans-serif;
   color: rgb(42, 117, 46);
}

p{

    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.nav,#submit,#confirmation
{
    color:white;
    background-color: rgb(23, 147, 195);
    border-radius:12px ;
    -webkit-border-radius:12px ;
    -moz-border-radius:12px ;
    -ms-border-radius:12px ;
    -o-border-radius:12px ;
    border:none;
    margin-left: 10px;
    padding: 10px 8px;
    font-size: 0.6em;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 3px rgb(23, 136, 211);
    
    
}
.nav:hover,#submit:hover,#confirmation:hover
{
    box-shadow: 0 0px rgb(23, 136, 211);
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
}

#previous
{
    
    position:absolute;
    margin-left:22%;
    margin-top:-33%;
}
#next
{
    position:absolute;
    margin-left :75%;
    margin-top: -33%;
}

#previous,#next
{
    font-size :1.8em;
    border:none;
    background-color: rgba(0,0,0,0.0);
    color: rgb(7, 12, 87);
    cursor: pointer;
    
    
    
       
}
#previous:hover,#next:hover
{
    color:rgb(146, 51, 7);
    

}
#map
{
    height:400px;
    width:50%;
   
    
   
}

#infostation{
    font-family: 'Raleway', sans-serif;
    text-align:center;
    width: 35%;
    margin-left: 60%;
    margin-top: -400px;
    
   
    

}
#form
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border:3px  solid black;
    margin-left:66% ;
    margin-top: 10px;
    text-align: center;
    width: 23%;
    padding-top: 20px;
    padding-left: 5px;
    background-color: rgba( 74, 205, 79, 0.195 );;
    display:flex;
    flex-direction:column;
    display:inline-flexbox;

    
    
}
#beware
{
    
    color:#a3095b;
}
#bsign{
     
    
    display:none;
    
}

#canvas{
    
    border:2px solid green;
}


#cleansign
{
     border:2px solid rgb(6, 110, 23);
     background-color: rgb(28, 167, 47);
     box-shadow: 0px 3px rgb(8, 184, 46);
     padding-left: 10px;
     padding-right: 10px;
     color: white;
     cursor:pointer;
     border:none;
     font-weight: bold;
     border-radius:12px ;
     -webkit-border-radius:12px ;
     -moz-border-radius:12px ;
     -ms-border-radius:12px ;
     -o-border-radius:12px ;
}

#infos{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: rgb(105, 14, 105);
   
    margin :auto;
    
   
     

}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    color: green;
}

@media screen and (max-width:1160px){

#previous
    {
     margin-left:25%;
     
    }

    #next
{
    margin-left:73%;
}

input{
    width:120px;
}






@media screen and (max-width:1144px){

    #previous
    {
     margin-left:23%;
     
     
    }

    #next
{
    margin-left:73%;
}

}

@media screen and (max-width:1083px){

#canvas{

    width: 215px;
}
#confirmation{
    margin-top:10px;
}


}

@media screen and (max-width:966px){

    #previous
    {
     margin-left:23%;
     margin-top: -35%;
     
    }

    #next
{
    margin-left:72%;
    margin-top: -35%;
}
#canvas{

    width: 200px;
}

}

@media screen and (max-width:911px){

    input{

        width:110px
    }
    
    #canvas{

        width: 180px;
    }
}


@media screen and (max-width:832px){

input{

    width:98px ;
}
#canvas{

    width: 170px;
}




}
@media screen and (max-width:773px){

#canvas{

    width: 160px;
}

}
@media screen and (max-width:758px){


    #cleansign{

        font-size:13px;
    }
}

@media screen and (max-width:735px) {

    #previous
    {
     margin-left:21%;
     margin-top: -40%;
    
}
#next
{
margin-top: -40%;
}

#canvas{

    width: 150px;
}

}

@media screen and (max-width:698px){

#canvas{

    width: 140px;
}



}

@media screen and (max-width:649px){

    #previous
    {
     margin-left:21%;
     margin-top: -43%;
    
}
#next
{
margin-top: -43%;
}

}
#canvas{

    width:130px ;
}
@media screen and (max-width:643px){

#cleansign{

    font-size:11px;
}

}
@media screen and (max-width:610px){

#canvas{
    width: 120px;
}

}

@media screen and (max-width:567px){
    #input{

        font-size: 60px;
    }
#canvas{

    width: 100px;
}


}
@media screen and (min-width:525px)and (max-width:570px){

  
    #previous
    {
     margin-left:21%;
     margin-top: -47%;
    
}
#next
{
margin-top: -47%;
}



}

@media screen and (min-width:400px)and (max-width:524px){

  
    #previous
    {
     margin-left:21%;
     margin-top: -50%;
    
}
#next
{
margin-top: -50%;
margin-left: 70%;
}
#previous,#next
{
    font-size: 1.2em;
}


}
@media screen and (min-width:378px)and (max-width:400px){

  
    #previous
    {
     margin-left:21%;
     margin-top: -58%;
    
}
#next
{
margin-top: -58%;
margin-left: 70%;
}

#previous,#next
{
    font-size: 1em;
}

}

@media screen and (min-width:356px)and (max-width:378px){

  
    #previous
    {
     margin-left:21%;
     margin-top: -60%;
    
}
#next
{
margin-top: -60%;
margin-left: 68%;
}

#previous,#next
{
    font-size: 1em;
}
#map{

    width: 150px;
}
form{

    width: 100px;
    
    
   
}
#submit{

    margin-right :35px;
}
input{

    width: 63px;
    margin-right: 30px;
}

#beware{

    font-size:0.5em;
    
}
#confirmation{

  font-size: 0.5em;
  margin-right:10px;
}
#canvas{

    width:60px;
}
#cleansign{

    font-size:0.7em;
}
}

@media screen and (min-width:332px)and (max-width:352px){

  
#previous
    {
     margin-left:21%;
     margin-top: -63%;
    
}
#next
{
margin-top: -63%;
margin-left: 68%;
}

#previous,#next
{
    font-size: 1em;
}

}

@media screen and (min-width:300px) and (max-width:331px){
#previous{
     margin-left:21%;
     margin-top: -65%;
    }
#next{
margin-top: -65%;
margin-left: 67%;
}

#previous,#next{
    font-size:1em;
}
}
}