#diapo
{

    text-align :center;
}
img
{
    /*border:2px solid black;*/
    height:60%;
    width: 60%;
    position :relative;
    
    

   
}

.nav,#submit,#confirmation
{
    color:white;
    background-color: rgb(23, 147, 195);
    border-radius:12px ;
    -webkit-border-radius:12px ;
    -moz-border-radius:12px ;
    -ms-border-radius:12px ;
    -o-border-radius:12px ;
    border:none;
    margin-left: 10px;
    padding: 10px 8px;
    font-size: 0.6em;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 3px rgb(23, 136, 211);
    
    
}
.nav:hover,#submit:hover,#confirmation:hover
{
    box-shadow: 0 0px rgb(23, 136, 211);
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
}

#previous
{
    
    position:absolute;
    margin-left:22%;
    margin-top:-33%;
}
#next
{
    position:absolute;
    margin-left :75%;
    margin-top: -33%;
}

#previous,#next
{
    font-size :1.7em;
    border:none;
    background-color: rgba(0,0,0,0.0);
    color: white;
    cursor: pointer;
    
    
    
       
}
#previous:hover,#next:hover
{
    color:rgb(5, 94, 129);
    

}
#map
{
    height:400px;
    width:50%;
    
    
    
    
}
#form
{

    display:flex;
    justify-content:flex-end;
}
#beware
{
    
    color:#a3095b;
}
#bsign{

    display:none;
}

#canvas{

width: 250px;
height: 150px;
border:2px solid  rgb(49, 138, 49);

}

#cleansign
{
     border:2px solid rgb(6, 110, 23);
     background-color: rgb(28, 167, 47);
     box-shadow: 0px 3px rgb(8, 184, 46);
     padding-left: 10px;
     padding-right: 10px;
     color: white;
     cursor:pointer;
     border:none;
     font-weight: bold;
     border-radius:12px ;
     -webkit-border-radius:12px ;
     -moz-border-radius:12px ;
     -ms-border-radius:12px ;
     -o-border-radius:12px ;
}
#cleansign:hover
{
    
    transform:translateY();
    
    -moz-transform:translateY();
    -ms-transform:translateY();
    -o-transform:translateY();
    -webkit-transform:translateY();
}
@media screen and (max-width:1160px){

    #previous
    {
     margin-left:25%;
     
    }

    #next
{
    margin-left:73%;
}

}


@media screen and (max-width:1144px){

    #previous
    {
     margin-left:23%;
     
     
    }

    #next
{
    margin-left:73%;
}

}

@media screen and (max-width:966px){

    #previous
    {
     margin-left:23%;
     margin-top: -35%;
     
    }

    #next
{
    margin-left:72%;
    margin-top: -35%;
}

}
@media screen and (max-width:735px) {

    #previous
    {
     margin-left:21%;
     margin-top: -40%;
    
}
#next
{
margin-top: -40%;
}

}


@media screen and (max-width:649px){

    #previous
    {
     margin-left:21%;
     margin-top: -43%;
    
}
#next
{
margin-top: -43%;
}

}


@media screen and (min-width:525px)and (max-width:570px){

  
    #previous
    {
     margin-left:21%;
     margin-top: -47%;
    
}
#next
{
margin-top: -47%;
}

}
@media screen and (min-width:400px)and (max-width:524px){

  
    #previous
    {
     margin-left:21%;
     margin-top: -50%;
    
}
#next
{
margin-top: -50%;
margin-left: 70%;
}
#previous,#next
{
    font-size: 1.2em;
}

}
@media screen and (min-width:378px)and (max-width:400px){

  
    #previous
    {
     margin-left:21%;
     margin-top: -58%;
    
}
#next
{
margin-top: -58%;
margin-left: 70%;
}

#previous,#next
{
    font-size: 1em;
}

}

@media screen and (min-width:356px)and (max-width:378px){

  
    #previous
    {
     margin-left:21%;
     margin-top: -60%;
    
}
#next
{
margin-top: -60%;
margin-left: 68%;
}

#previous,#next
{
    font-size: 1em;
}

}

@media screen and (min-width:332px)and (max-width:352px){

  
    #previous
    {
     margin-left:21%;
     margin-top: -63%;
    
}
#next
{
margin-top: -63%;
margin-left: 68%;
}

#previous,#next
{
    font-size: 1em;
}

}

@media screen and (min-width:300px)and (max-width:331px){

  
    #previous
    {
     margin-left:21%;
     margin-top: -65%;
    
}
#next
{
margin-top: -65%;
margin-left: 67%;
}

#previous,#next
{
    font-size: 1em;
}

}




